
@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Creator</title>
    <style>
        table, tr {
            background-color: cornflowerblue;
        }

        table, th, td {
            border: 1px solid;
        }
    </style>
</head>

<body>
    <table class="table">
        <thead class="thead-dark">
            <tr>

                <th scope="col">Name</th>
                <th scope="col">Surname</th>
                <th scope="col">Number</th>
                <th scope="col">Email</th>
            </tr>
        </thead>
        <tbody>
            <tr>

                <td>Elshen</td>
                <td>Guliyev</td>
                <td>(+994) 70 478 99 54</td>
                <td>elwenquliyev513@gmail.com</td>
            </tr>

        </tbody>
    </table>



</body>
</html>
